<h1> Edit Task</h1>

<%= form_for(@task) do |form| %>

  <p>
  <%= form.label :title %>
  <%= form.text_field :title %>
  </p>

  <p>
  <%= form.label :details %>
  <%= form.text_field :details %>
  </p>

  <p>
  <%= form.label :completed %>
  <%= form.check_box :completed %>
  </p>

  <p>
  <%= form.submit %>
  </p>

<% end %>
<br>
<p> <%= link_to 'Return to tasks', tasks_path %></p>